body{
margin:0;
overflow:hidden;
font-family:Arial;
}

#camera{
position:fixed;
width:100%;
height:100%;
object-fit:cover;
}

#info{
position:absolute;
top:20px;
left:20px;
background:white;
padding:15px;
border-radius:10px;
z-index:100;
}